/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.terminal {
  background-color: #1e1e1e;
  width: 800px;
  height: 600px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  color: #fff; /* Default color for the terminal to white */
}

.terminal-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #333;
  border-radius: 5px 5px 0 0;
}

.terminal-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
}

.close {
  background-color: #ff5f56;
}

.minimize {
  background-color: #ffbd2e;
}

.maximize {
  background-color: #27c93f;
}

.terminal-title {
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  color: #ccc;
}

.terminal-body {
  background-color: black;
  color: white;
  padding: 10px;
  height: 600px;
  overflow-y: scroll;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.terminal-output p {
  margin: 0;
}

.ascii-art {
  color: red; /* Set the color of the ASCII art to red */
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  color: #fff; /* Text color */
}

.info-table th, .info-table td {
  border: 1px solid #fff; /* Border color */
  padding: 8px;
  text-align: left;
}

.info-table th {
  background-color: #333; /* Header background color */
  color: #fff; /* Header text color */
}

.info-table td {
  background-color: #222; /* Row background color */
}

.terminal-input {
  display: flex;
  align-items: center;
}

.terminal-prompt {
  margin-right: 10px;
  color: #00ff00;
}

input[type="text"] {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
  font-size: 1rem;
}

input[type="text"]::placeholder {
  color: #777;
}
